@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --background-color: linear-gradient(to bottom, #f5f5f5 0%, #e9e9e9 100%);
  --surface-color: #ffffff;
  --primary-color: #bda06e; /* Dorado */
  --primary-variant-color: #a88c5a; /* Dorado oscuro para hover */
  --secondary-color: #868e96;
  --on-background-color: #1a1a1a; /* Negro para texto */
  --on-surface-color: #333333; /* Gris oscuro para texto en tarjetas */
  --error-color: #cf6679;

  --border-color: #dddddd;
  --border-radius: 8px;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--background-color);
  color: var(--on-background-color);
  line-height: 1.6;
}

h1,
h2,
h3 {
  color: var(--primary-color);
  margin-bottom: 1rem;
}

main {
  padding: 2rem;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #adb5bd;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: var(--background-color);
}