.app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: var(--surface-color);
  border-bottom: 1px solid var(--border-color);
  box-shadow: var(--box-shadow);
  z-index: 1001; /* Debe estar por encima del menú lateral */
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
}

.header-container {
  display: flex;
  align-items: center;
  position: relative; /* Necesario para el posicionamiento absoluto del hijo */
  width: 100%;
}

.menu-toggle-header {
  background: none;
  border: none;
  color: var(--text-primary);
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem;
}

.header-logo-link {
  display: flex;
  align-items: center;
  position: absolute; /* Lo sacamos del flujo normal */
  right: 0; /* Lo alineamos a la derecha */
  gap: 0.75rem;
  text-decoration: none;
}

.header-logo-image {
  height: 65px;
}

.header-title-link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
}

.header-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-primary);
  margin: 0;
}