.footer {
  background-color: var(--menu-bg);
  color: #ffffff;
  padding: 1.5rem 2rem;
  text-align: center;
  border-top: 1px solid #374151;
  margin-top: auto; /* Pushes footer to the bottom */
}

.footer-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.social-icon-link {
  color: var(--on-surface-color);
  transition: color 0.3s ease;
}

.social-icon-link:hover {
  transform: scale(1.1);
  opacity: 0.8;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.social-icon {
  width: 24px;
  height: 24px;
}

.brand-logo-container {
  display: flex;
  justify-content: center;
}

.brand-logo {
  max-height: 50px;
  object-fit: contain;
}

.footer-bottom-text {
  font-size: 0.9rem;
  color: #5c450b; /* Tono dorado oscuro para el texto de copyright */
  text-align: center;
}